@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Inter:wght@300;400;500;600;700&display=swap");

.body {
  font-family: Arial, sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profiles {
  padding: 80px;
  box-shadow: 4px 3px #777;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  background-color: #ffffff;
}

.body {

  min-width: 100%;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.body h2{
  font-size: 40px;
  font-weight: bolder;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  margin-left: 30px;
}

.profile {
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.profile h2 {
  font-size: 1.5em;
  margin: 10px 0;
  text-decoration: none;
}

.profile p {
  color: #777;
}
@media (max-width: 768px) {
  *{font-size: 12px;}
  .profiles {
    padding: 20px;
    box-shadow: none;
  }
  .container {
    margin-left: 0;
    justify-content: center;
  }
  .profile {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
  }
  .body h2 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 10px;
  }

  .profiles {
    padding: 10px;
  }

  .profile {
    width: 50%;
    padding: 20px;
    margin: 5px 0;
  }

  body h2 {
    font-size: 25px;
  }

  .container {
    margin-left: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .profile h2 {
    font-size: 1.2em;
  }

  .profile p {
    font-size: 0.9em;
  }
}
